<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CONTROL_INCALL_EXPERIENCE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!-- 蓝牙相关权限 -->
    <!-- 在较旧的设备上请求遗留蓝牙权限 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> <!-- 请求当前应用可以被附近蓝牙设备所发现 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" /> <!-- 请求当前应用与已配对的蓝牙设备通信 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- 请求当前应用与附近蓝牙设备通信 -->

    <!--动态创建桌面入口-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 给外部查询用的 -->
    <permission
        android:name="com.ct.ertclib.dc.provider.PERMISSION"
        android:protectionLevel="signatureOrSystem"
        tools:ignore="SignatureOrSystemPermissions" />

    <!--    定义进入SDK主页面的权限，需要相同签名-->
    <permission
        android:name="com.ct.ertclib.dc.main_permission"
        android:protectionLevel="signatureOrSystem"
        tools:ignore="SignatureOrSystemPermissions" />

    <permission android:name="com.ct.ertclib.dc.GET_FEATURE"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl,android:allowBackup">
        <activity
            android:name="com.ct.ertclib.dc.core.ui.activity.MainActivity"
            android:permission="com.ct.ertclib.dc.main_permission"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="com.newcall.action.START_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.ConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@style/ActivityTranslucentStyle"
            />

        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity0"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_0"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp"
            />
        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity1"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_1"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp" />
        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity2"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_2"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp" />
        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity3"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_3"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp" />
        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity4"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_4"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp" />
        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity5"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_5"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp" />
        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity6"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_6"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp" />
        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity7"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_7"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp" />
        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity8"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_8"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp" />
        <activity
            android:name="com.ct.ertclib.dc.core.miniapp.ui.activity.MiniAppActivity9"
            android:configChanges="orientation|screenSize|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":mini_app_activity_9"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MiniApp" />

        <activity
            android:name=".common.PicturePreviewActivity"
            android:theme="@style/ImagePreviewTheme"
            android:permission="com.ct.ertclib.dc.GET_FEATURE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ct.ertclib.dc.PREVIEW_IMAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ct.ertclib.dc.core.ui.activity.SettingsActivity"
            android:enabled="true"
            android:permission="com.ct.ertclib.dc.GET_FEATURE"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.ct.ertclib.dc.SETTINGS_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SettingActivity"
            android:theme="@style/SettingPreference"
            android:exported="false" />

        <activity
            android:name=".ui.activity.StyleSettingActivity"
            android:theme="@style/SettingPreference"
            android:exported="false" />

        <activity
            android:name=".ui.activity.PermissionSettingActivity"
            android:theme="@style/SettingPreference"
            android:exported="false" />

        <activity
            android:name=".ui.activity.SDKPermissionActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TranslucentTheme"
            android:exported="false" />

        <activity
            android:name=".common.WebActivity"/>

        <service
            android:name=".service.MiniAppService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ct.ertclib.dc.core.service.AppService" />
            </intent-filter>
        </service>

        <service android:name="com.ct.ertclib.dc.core.service.InCallServiceImpl"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.telecom.InCallService"/>
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ct.ertclib.dc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.ct.ertclib.dc.core.providers.CtSDKProvider"
            android:authorities="com.ct.ertclib.dc.provider"
            android:exported="true"
            android:permission="com.ct.ertclib.dc.provider.PERMISSION" />

    </application>

</manifest>